<h2>Starwars Movies</h2>

<% @object.each do |item|%>
<p><b>Película:</b> <%= item["title"]%> 
<br> <b>Lanzamiento:</b> <%= item["release_date"]%> 
<br> <b>Productor/es:</b> <%= item["producer"]%> 
<br> <b>Director:</b> <%= item["director"]%></p>
<% end %>

